:root {
  --calendar-width: 100vmin;
  --calendar-height: 40vmin;
  --calendar-gap: 10px;
  --cell-height: calc(var(--calendar-height) / 4);
}

@font-face {
  font-family: "Iransans";
  src: url("./assets/font/Iransans-Light.eot"),
    url("./assets/font/Iransans-Light.woff2") format("woff2"),
    url("./assets/font/Iransans-Light.woff") format("woff"),
    url("./assets/font/Iransans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Iransans-bold";
  src: url("./assets/font/IRANSansWeb_Bold.woff2"), url("./assets/font/IRANSansWeb_Bold.woff"),
    url("./assets/font/IRANSansWeb_Bold.ttf"), url("./assets/font/IRANSansWeb_Bold.eot");
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/font/IRANSansWeb_Bold.eot");
  src: url("./assets/font/fontawesome-webfont(2).eot") format("embedded-opentype"),
    url("./assets/font/fontawesome-webfont.woff2") format("woff2"),
    url("./assets/font/fontawesome-webfont.woff") format("woff"),
    url("./assets/font/fontawesome-webfont.ttf") format("truetype"),
    url("./assets/font/fontawesome-webfont.svg") format("svg");
}

@font-face {
  font-family: "Iransans-medium";
  src: url("./assets/font/IRANSansWeb_Medium.eot"), url("./assets/font/IRANSansWeb_Medium.woff2");
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Iransans, "Segoe UI", Tahoma, FontAwesome, Iransans-bold,
    Iransans-medium sans-serif;
}

a {
  color: gray;
}

a:hover {
  color: #b30d34;
}

/* @media (max-width: 600px) { */

